---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$sans-serif-font-family: Helvetica, Arial, sans-serif;
$serif-font-family: Vollkorn, serif;
$base-font-family: $sans-serif-font-family;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$tiny-font-size:   $base-font-size * 0.75;
$base-line-height: 1.2;

$headers-font-family: Montserrat, sans-serif;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       #d0d0d0;
$grey-color-light: #fafafa;
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

//@import url(//fonts.googleapis.com/css?family=Montserrat:700);
//@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(//fonts.googleapis.com/css?family=Vollkorn);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
//        "base",
//        "layout",
//        "syntax-highlighting",
        "base",
        "layout",
        "cover",
        "icons"
;
