<footer>
<p>
<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Attribution-NonCommercial-ShareAlike 4.0 International">
<svg class="icon icon-creative-commons"><use xlink:href="#icon-creative-commons"></use></svg>
<svg class="icon icon-creative-commons-attribution"><use xlink:href="#icon-creative-commons-attribution"></use></svg>
<svg class="icon icon-creative-commons-noncommercial-eu"><use xlink:href="#icon-creative-commons-noncommercial-eu"></use></svg>
<svg class="icon icon-creative-commons-sharealike"><use xlink:href="#icon-creative-commons-sharealike"></use></svg>
<span class="cc-years">2002-2015</span> <span class="cc-name">Martí Cuquet</span>
</a>
</p>
</footer>
