<nav>
<ul>
  <li><a href="{{ site.baseurl }}/"><svg class="icon icon-me"><use xlink:href="#icon-me"></use></svg> Martí</a></li>
  <li><a href="{{ site.baseurl }}/txt/"><svg class="icon icon-textos"><use xlink:href="#icon-textos"></use></svg> Textos</a></li>
  <li><a href="{{ site.baseurl }}/code/"><svg class="icon icon-code"><use xlink:href="#icon-code"></use></svg> Code</a></li>
  <li><a href="{{ site.baseurl }}/muntanya/"><svg class="icon icon-muntanya"><use xlink:href="#icon-muntanya"></use></svg> Muntanya</a></li>
  <li><a href="{{ site.baseurl }}/research/"><svg class="icon icon-research"><use xlink:href="#icon-research"></use></svg> Research</a></li>
  <li><a href="{{ site.baseurl }}/Miscellanea">+</a></li>
</ul>
</nav>
