<ul class="social-list">
  <li><a href="http://arxiv.org/a/cuquet_m_1"><svg class="icon icon-arxiv"><use xlink:href="#icon-arxiv"></use></svg><span class="social-list-text"> arXiv</span></a></li>
  <li><a href="https://github.com/mcuquet"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg><span class="social-list-text"> GitHub</span></a></li>
  <li><a href="http://www.last.fm/user/nilvar/"><svg class="icon icon-lastfm"><use xlink:href="#icon-lastfm"></use></svg><span class="social-list-text"> last.fm</span></a></li>
  <li><a href="http://cat.librarything.com/profile/mcuquet/"><svg class="icon icon-librarything"><use xlink:href="#icon-librarything"></use></svg><span class="social-list-text"> Library Thing</span></a></li>
  <li><a href="http://www.linkedin.com/in/mcuquet/"><svg class="icon icon-linkedin2"><use xlink:href="#icon-linkedin2"></use></svg><span class="social-list-text"> Linked in</span></a></li>
  <li><a href="http://www.mendeley.com/profiles/marti-cuquet/"><svg class="icon icon-mendeley"><use xlink:href="#icon-mendeley"></use></svg><span class="social-list-text"> Mendeley</span></a></li>
  <li><a href="http://twitter.com/mcuquet/"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg><span class="social-list-text"> Twitter</span></a></li>
  <li><a href="http://ca.wikiloc.com/wikiloc/user.do?name=mcuquet"><svg class="icon icon-wikiloc"><use xlink:href="#icon-wikiloc"></use></svg><span class="social-list-text"> Wikiloc</span></a></li>
</ul>
