/*******
 * Index
 *
 * Reset some basic elements
 * Basic styling
 * Headers
 * Links
 * Inline
 * Blockquotes
 * SVG
 * Other
 */


/**
 * Reset some basic elements
 */
//body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
body, pre, hr, dl, dd, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

/**
 * Headers
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font-family;
  text-rendering: optimizeLegibility;
}

div.abstract {
  margin: 0 50px;
  font-weight: 500;
}

/**
 * Links
 */
a {
  color: $text-color;
}

/**
 * Inline
 */
strong {
  font-weight: bold;
  font-style: normal;
}

p img {
  float: right;
}

/**
 * Blockquotes
  */
blockquote {
//  color: $grey-color;
  border-left: 2px solid $grey-color;
  padding-left: $spacing-unit / 2;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * SVG
 */
svg {
  vertical-align: middle;
}

/**
 * Other
 */

div.cita {
  background: url("/~nilvar/images/quote.png") no-repeat left top;
  width: 60%;
  min-height: 80px;
  padding: 0 0 0 50px;
}

div.cita:nth-child(even) {
  margin: 100px 0 300px -50px;
}

div.cita:nth-child(odd) {
  margin: 100px 0 300px 250px;
}

p.cita-cita {
  font-size: 1.4em;
  font-style: italic;
  text-align: left;
}

p.autor-cita {
  width: 100%;
  text-align: right;
}
