/**
 * Cover style
 */

body.cover {
  line-height: 1.5;
  padding-top: 10%;
}

body.cover header {
  float: left;
  padding: 0;
  text-align: right;
  width: 46%;
}

body.cover .tagline {
}

body.cover h1 {
  font-family: $serif-font-family;
  font-size: 2.8 * $base-font-size;
  margin: 0;
  padding: 0;
}

body.cover ul {
  font-size: 1.2 * $base-font-size;
}

body.cover ul.social-list li {
  display:inline;
}

body.cover .social-list-text {
  display: none;
}

body.cover footer {
  position: relative;
  border: 0;
  bottom: 2em;
  clear: none;
  font-size: $base-font-size;
  float: left;
  text-align: right;
  width: 46%;
}

body.cover .cc-name {
  display: none;
}

body.cover main {
  margin-left: 54%;
  width: 46%;
}

body.cover main ul {
  font-size: 1.5 * $base-font-size;
  line-height: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body.cover a {
  text-decoration: none;
}
