<!DOCTYPE html>
<html lang="ca">

{% include head.html %}

<body class="cover">

{% include icons-icomoon.svg %}
{% include myicons.svg %}
    
<header>
  {% if site.compass.logo %}
  <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
  {% endif %}
  {% if page.title %}
  <h1>{{ page.title }}</h1>
  {% endif %}
  {% if page.subtitle %}
  <p class="subtitle">{{ page.subtitle }}</p>
  {% endif %}
  {% if page.tagline %}
  <p class="tagline">{{ page.tagline }}</p>
  {% endif %}

  {% include social-list.html %}

</header>

<main>
  {{ content }}
</main>

{% include footer.html %}

</body>

</html>
